body{
    background-color: #082032;
}

.navbar{
    background-color: #2C394B;
}

.btn-logout{
    background-color: #ffffff;
}

.btn-share{
    background-color: #FF4C29;
}


.btn-profile{
    background-color: #2C394B;
}